div.PAGE {
    p.RECIPE_TITLE {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        color: var(--app-accent);
    }

    img.RECIPE_PHOTO {
        width: 17.65rem;
        height: 17.65rem;
        object-fit: cover;
        border-radius: 1.5rem;
    }

    p.SECTION_TITLE {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--app-secondary);
        letter-spacing: .6rem;
    }

    steps_box {
        width: 100%;
    }
}