:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2rem);
    padding: 1rem 1rem;
    border-radius: .9rem;
    background-color: var(--app-box-bg);
    transition: transform .2s ease-in-out;

    p.TEXT {
        font-size: 1.4rem;
        font-weight: 600;
    }
}