:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    transition: transform .2s ease-in-out;
    height: 1rem;

    img {
        height: 100%;
        object-fit: contain;
    }
}