:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-block: .6rem;
    border-radius: .6rem;
    background-color: var(--app-box-bg-secondary);
    transition: transform .2s ease-in-out;

    p.TEXT {
        font-size: 1.2rem;
        font-weight: 400;
    }
}