:host {
    div.STEP {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 1.25rem;
        gap: .5rem;

        &:not(:last-of-type) {
            border-bottom: .5px solid rgba(black, .25);
        }
    }
}