<content_box>
    @for(item of steps_list; track $index) {
        <div class="STEP">
            <p class="NUMBER">{{ $index + 1 }}.</p>
            @if (edit_mode) {
                <input type="text" placeholder="OPIS KROKU" (change)="changeStepData($index, $event)">
            } @else {
                <p class="DESCRIPTION" >{{ item.description }}</p>
            }
        </div>
    }
    @if (edit_mode) {
        <add_button (click)="addStep()" [description]="'DODAJ KROK'" />
    }
</content_box>