:host {

    div.INGREDIENT {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1.25rem;

        p.NAME {
            font-weight: 600;
        }

        p.AMOUNT {
            font-weight: 300;
        }
    }

    div.BREAK_LINE {
        width: 100%;
        border: .5px solid rgba(black, .25);
    }
}