<content_box>
    @for (item of ingredients_list; track $index) {
        <div class="INGREDIENT">
            @if (edit_mode) {
                <input type="text" placeholder="NAZWA" (change)="changeIngredientData($index, 'name', $event)">
                <input type="text" placeholder="ILOŚĆ" (change)="changeIngredientData($index, 'amount', $event)">
            } @else {
                <p class="NAME">{{ item.name }}</p>
                <p class="AMOUNT">{{ item.amount }}</p>
            }
        </div>
    }
    @if (edit_mode) {
        <add_button (click)="addIngredient()" [description]="'DODAJ SKŁADNIK'" />
    }
</content_box>