div.PAGE {

    p.APP_TITLE {
        font-size: 3rem;
        font-weight: 700;
    }

    p.PAGE_TITLE {
        font-size: 2rem;
        font-weight: 700;
        color: var(--app-accent);
        letter-spacing: .6rem;
    }

    div.CATEGORY_LIST {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: .7rem;
        width: 100%;
        overflow-y: scroll;
        padding-bottom: 5rem;

        div.CATEGORY {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: .6rem;

            wide_bar {
                font-size: 1.4rem;
                font-weight: 400;
            }

            div.SUBCATEGORIES {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: .6rem;
                overflow: hidden;

                sub_bar {
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
        }

        p.EMPTY_LIST {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}